body {
  min-width: 500px;
  min-height: 780px;
  overflow-x: hidden;
  background: #FCFCFC url(/images/bg.jpg) repeat;
  font-family: "Open Sans",sans-serif;
}

#supertech { color: #F36E21; font-family: "Lobster",cursive; }

section#content {
	padding-top: 50px;
}

.search {
	width: 375px !important;
}


.label {
	margin: 3px inherit 3px inherit !important;
}

h4 > a, a.link {
	color: #222426;
	text-decoration: none;
}

a.link:hover {
	background: rgba(243, 110, 33, 0.3);
}

.ui.selection {
	margin-bottom: 5px;
}

select {
	box-shadow: none !important; 
	border: none;
}