html {
    max-width: 500px;
}

body {
  width: 500px;
  min-width: 500px; max-width: 500px;
  height: 600px;
  min-height: 600px; max-height: 600px;
  overflow: hidden;
  background: #FCFCFC url(/images/bg.jpg) repeat;
  font-family: "Open Sans",sans-serif;
}
a:hover {
    color: #F36E21;
}

#close-sidebar { 
    color: #222426;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;
}
.supertech,
a.supertech { color: #F36E21 !important; font-family: "Lobster",cursive; }

section#content {
	padding-top: 50px;
    max-width: 500px;
    min-width: 500px;
    width: 500px;
}
.sidebar {
    padding-top: 50px;
}

.field > .search {
	width: 375px !important;
}


.label {
	margin: 3px inherit 3px inherit !important;
}

h4 > a, a.link {
	color: #0B0B0B;
	text-decoration: none;
}

a.link:hover {
	background: rgba(243, 110, 33, 0.3);
}

.ui.selection {
	margin-bottom: 5px;
}

select {
	box-shadow: none !important; 
	border: none;
}

/* Styles for the notepad */
section[data-tab='notepad'],
#content-notepad,
#content-notepad > .field,
#notepad {
    height: 600px !important;
}

#notepad {
    background: transparent;
    border: none;
    font-family: 'CosmicSansNeueMono', monospace;
    max-height: 100% !important;
    margin: 0;
}
#notepad-status {
    bottom: 20px;
    position: absolute;
}
/* Styles for settings */

#settings-header {
    margin: 0;
}
#settings-description {
    color: #888;
    font-size: 12px;
    padding-top: 0;
}
#settings-description > p { margin-top: 3px; }

#settings-form {
    margin-top: 10px;
}
