/* General style improvements for Footprints */

#ContentWrapper {
	background-color: black !important;
	box-shadow: 0px !important;
}


/* tcenterLove.js */

#tcenterJump {
	position: fixed;
	top: 40%;
	right: 0;
	width: 40px;
	height: 150px;
	background-color: #A7DCAC;
}

#tcenterJump:hover {
	background-color: #d0ecd3;
}