body {
  min-width: 500px;
  overflow-x: hidden;
}

a h4 {
	line-height: 5px;
	padding: 0px;
}

.list-group {
	margin: 0px;
	border: none;
}


/*input.search {
  width: 400px !important;
}*/

select.form-control {
	width: 100px;
}