
/* Always show breadcrumbs */
#ellipsis {
	display: none !important;
}
li.hidden-crumb {
	display: inline !important;
}


/* Auto-expand child pages */
ul.more-children {
	display: block !important;
}
a.more-children-link {
	display: none;
}